<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Cargas</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/media.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>

    <head>
        <div class="header">
            <div class="header_conteudo">
                <img class="header_logo" src="../img/logo-nutrepampa.png" alt="Logo Nutrepampa">
                <h2 class="header_titulo">CONTROLE DE SAÍDA E AGENDAMENTO DE CARGAS</h2>
            </div>
        </div>
    </head>
    <main>
        <div class="container_login">
            <h2>Alterar Senha</h2>
            <div class="login_campos">
                <input id="campo_user_up" type="text" placeholder="Usuario">
                <input id="campo_pass_up" type="text" placeholder="Senha Atual">
                <input id="campo_nova_pass_up" type="text" placeholder="Nova Senha">
                <button id="atualizar">Atualizar Senha</button>
            </div>
        </div>

    </main>
</body>
<script src=""></script>

</html>